.id {
  margin-bottom: 0.5em;
  padding-right: 100px;
  text-align: center; /* Apply center alignment to parent container */
}

.id1 {
  margin-bottom: 0.5em;
  padding-right: 100px;
  text-align: center; /* Apply center alignment to parent container */
}

.id2 {
  margin-bottom: 0.5em;
  padding-right: 100px;
  text-align: center; /* Apply center alignment to parent container */
}
